<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create_lesson</title>
</head>
<body>
    <form method="POSt">
    <h3>単元...{{lesson}}</h3>
    <label for="title">タイトルを入力</label>
    <input type="text" name="title">
    <label for="time">日付を入力(例: 2024 12/24 16:00~17:00)</label>
    <input type="text" name="time">
    <label for="people">上限人数を入力(MAX10人)</label>
    <input type="text" name="people">
    <button type="submit">OK</button>
        </form>
</body>
</html>