<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ユーザー登録</h1>
    <form method="POST">
        <label for="username">ユーザー名</label>
        <input type="text" name="username">
        <label for="passward">パスワード</label>
        <input type="password" name="passward">
        <label for="role">役割を選択</label>
        <select name="role" >
            <option value="student">student</option>
            <option value="teacher">teacher</option>
        </select>
        <input type="submit" value="新規登録">
    </form>
</body>
</html>