<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher_page</title>
</head>
<body>
    <h1>参加予定の授業</h1>
    <form method="POST">
        <button type="submit" name="action" value="search">探す</button>
        <button type="submit" name="action" value="trend">トレンド</button>
        <button type="submit" name="action" value="attend">授業</button>
        <button type="submit" name="action" value="user_imformation">ユーザー情報</button>
    </form>
</body>
</html>