<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='student_user_imformation.css')}}">
    <title>student_user_imformation</title>
</head>
<body>
    <h1>mana-bell</h1>
    <h2>ユーザー情報</h2>
    <form method="POST">
        <footer class="footer">
            <button class="footer-btn" type="submit" name="action" value="search">探す</button>
            <button class="footer-btn" type="submit" name="action" value="trend">トレンド</button>
            <button class="footer-btn" type="submit" name="action" value="attend">授業</button>
            <button class="footer-btn" type="submit" name="action" value="vote">投票</button>
            <button class="footer-btn" type="submit" name="action" value="user_imformation">ユーザー</button>
        </footer>

        <h2>{{username}}</h2>
        <button type="submit" name="action" value="logout">ログアウト</button>
    </form>
</body>
</html>