<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topics_add</title>
</head>
<body>
    <form method="POST">
    <label for="grade">学年選択</label>
    <select name="grade">

        <option value="中一">中一</option>
        <option value="中二">中二</option>
        <option value="中三">中三</option>
        <option value="高一">高一</option>
        <option value="高二">高二</option>
        <option value="高三">高三</option>
    </select>      
    <label for="subjiect">教科選択</label>
    <select name="subjiect">
        <option value="数学">数学</option>
        <option value="理科">理科</option>

    </select>
    <label for="topic">単元入力</label>
    <input type="text" name="topic">
    <button type="submit" name="add" value="add">追加</button>
    </form>
</body>
</html>